
<div class="container">
  <nav>
    <div class="nav-left">
      <button coreButton routerLink="animate-scroll">Animate On Scroll</button>
      <button coreButton routerLink="scroll-to-section">Scroll To Section</button>
    </div>
    <div>
      <a href="https://github.com/officialsimplecore/angular-scroll-animations"><span>GitHub</span></a>
      <a href="https://www.npmjs.com/package/angular-scroll-animations"><span>NPM</span></a>
      <a href="https://simplecore.org"><span>Creator</span></a>
    </div>
  </nav>
  <hr />
  <router-outlet></router-outlet>
</div>

